header {
    background-color: #3c856f
}
div.title {
    
    color: rgba(255, 255, 255, 0.816);
    text-align: center;
}
div.title h1 {
    padding: 10px;
}


main.dashboard {
    background-color: rgb(226, 223, 31);
}


div.recent-searches h2 {
    font-size: 1.2rem;
}

div.cityList {
    margin-top: 20px;
}

div.city {
    padding: 10px;
}

div.cityName {
    background-color: white;
    color: black;   
}


div.currentWeather {
    margin-bottom: 20px;
    background-color: white;
}

div.currentWeather h2,
div.currentWeather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

span#uv-index {
    color: white;
}

div.fiveDay h2 {
    font-size: 1.2rem;
}

div.fiveDay p {
    font-size: .8rem;
}

div.fiveDay p.card-title {
    font-weight: bold;
    color: white;
}
#search-btn {
    background-color:  #3c856f;
}

.card {
    background-color: #0277fd7b;
}

.text-muted {
    color: white !important;
}